* {
    margin: 0;
    padding: 0;
    font-family:arial;
    outline:none;
    box-shadow:0 0 2px rgb(218, 240, 19) inset;
}
body {
	background:#000000b4;
}
button {
	cursor: pointer;
}
.tape-img {
  	margin:0px;
  	padding:0px;
	width: 14vh;
	height:	15vh;
	position:relative;
}

.tape {
	position:relative;
	right:20px;
	height: 12vh;
	width: 14vh;
}

li,ul {
	list-style:none;
	display:inline-block;
	content:"";
}
#main {
	width: 54vh;
	margin: 10vh auto 2vh auto;
	overflow-x:hidden;
	border:1px #fffb07 solid ;
	box-shadow: 0 0 10vh 1vh rgba(223, 236, 29, 0.3) ;
}
#mxwidth {		
	width:100vh;
	margin: 0 auto;
}


#win {
	position:absolute;
	border-left: 10px solid transparent; 
	border-right: 10px solid transparent;
	border-top: 10px solid #d8d51d ;
	top: 101px;
	left:49.5%;
}
#boxes {
	width:200vh;
}
.mainbutt {
		padding:15px 35px;
		color: #00DF7E ;
		background:rgba(0,0,0,0.5);
		font-weight:bold;
		letter-spacing:1px;
		border:none;
		border:1px #00DF7E solid;
		display:block;
		border-radius:30px;
		margin:0 auto;
		outline:none;
}
h2 {
	color:white;
}
h1 {
	color:white;
}
.hdblock {
	float:left;
	color:#EDEDED;
	font-family:arial;
}
span {
	padding:5px 7px 3px 7px;
	color: #00DF7E ;
	font-size:10px;
	border:1px #00DF7E solid;
}
.opn {
	position:absolute;
	z-index:6;
	background: rgba(0,0,0,0.8);
	padding:10px;
	border:1px #dedede solid;
	display:none;
}
	
span:hover {
		background:#dedede;
}
.block {
	display:block;
}
.minprofile {
	 font-size:1vh;
	color: #EDEDED;
	display:grid;
	grid-template-columns:25% 90%;
	position:relative;
	float:right;
}
.minprofile img {
	width: 15vh;
	border-radius:50%;
	margin-top:8px;
	border:1px #DEDEDE solid;
}
.minprofile p {
	font-weight:lighter;
}
.minprofile h4 { 
	 padding-bottom:8px;
	 text-transform:uppercase;
}
.minprofile div:before {
	content:"";
	display:block;
	width:130px;
	height:2px;
	background:radial-gradient(#00DF7E 2%,transparent 80%);
	position:relative;
	top:+24px;
}
.header {
	display:table;
	width:96%;
	margin:20px auto 0px auto;
}
.logo {
	width:400px;
	display:block;
	margin:0px auto 40px auto;
}

.blscreen {
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.8);
	position:absolute;
	top:0px;
	display:none;
}
.winblock {
	margin:125px auto;
	width:300px;
	height:400px;
	background:#1C201F;
	display:block;
}
.winblock h3 {
	color:#fbfbfb;
	text-align:center;
	padding-bottom:5px;
}

.winblock span {
	border:none;
}
.winbutt {
	color:#fbfbfb;
	margin:	15vh auto;
	display:block;
	padding:10px 55px;
	font-size:18px;
	background:linear-gradient(90deg, #bdff07, #00DF7E );
	border:none;
	border-bottom:3px #d0d325 solid;
}
.winblock h4 {
	text-align:center;
	text-transform:uppercase;
	color:#00DF7E;
	font-weight:lighter;
	padding:10px 0px 10px 0px;
}
.winblock p {
	color:#606663;
	font-size:14px;
	margin-left:40px;
}
.winblock span {
	padding:0;
	font-size:12px;
}
.close {
	background:none;
	color:#606663;
	font-size:35px;
	border:none;
	height:40px;
	position: relative;
	left: 90%;
}
.wininp {
	background:#1E1B1B;
	padding:15px 20px;
	border:1px #00DF7E solid;
	margin:10px auto;
	display:block;
	color:#fbfbfb;
}